.tituloPage {
    font-size: 23pt;
}

.AdminLogin{
    font-size: 15pt;
}

.MenuItem{
    font-size: 15pt;
}

.ContainerBody{
    background-color: black;   
}

html{
    background-color: black;
}

.imagenGhosty{
    height: 35px;
    margin-top: -15px;;
}

.my-modal .modal-content {
    background-color: #343a40;
}

.modal-backdrop {
    background-color: #343a40;
}

